<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>
<style>
    .texto{
        float:left;
        width:30%;
        padding-right:35px;
    }
    .mapa{
        float:left;
        width:65%;
    }
    .subtitulo{
        color:#1E2DBE;
    }
    .titulo{
        color: #1E2DBE !important;
	font-weight:bold;
    }
</style>
<main id="main" aria-label="Content" tabindex="-1" style="line-height:2; text-align: justify;">
    <section class="container about">
        <h1>
            <%block name="pageheader"><span class="titulo">CONTACTO</span></%block>
        </h1>
	<div>
		Estamos para apoyarte, recuerda enviar tu mensaje con la captura de pantalla correspondiente que muestre el problema que tengas.</br>
		<b class="subtitulo">Dirección de correo electrónico:</b> <a style="text-decoration:underline;color: #1E2DBE !important;"href="mailto:mexico@ilo.org">mexico@ilo.org </a>
	
	</div>
    </section>
</main>
